.github
.husky
**/nyc_output
**/coverage
**/dist/
**/logs/
**/node_modules/
**/LICENSE
**/NOTICE
**/NOTICE.header.ts
link.sh
.*
*.json
*.md
*.jpg

# The instrumentation files are copied from istanbul (and modified).
# In the future in a big refactor the instrumentation should be redone such that these files dont have to be ignored anymore.
**/instrumentation/Instrumenter.ts
**/instrumentation/VisitState.ts
**/instrumentation/Visitor.ts
**/instrumentation/source-coverage.ts
