.github
.nyc_output/
dist/
docs/
logs/
node_modules/
syntest/
.*
*.json
*.md
LICENSE*
Dockerfile

# The instrumentation files are copied from istanbul (and modified).
# In the future in a big refactor the instrumentation should be redone such that these files dont have to be ignored anymore.
**/instrumentation/Instrumenter.ts
**/instrumentation/VisitState.ts
**/instrumentation/Visitor.ts